<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>CMUA - Central Maryland Ultimate Association</title>
<link href="/static/css/cmua.css" type="text/css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="/static/jquery-1.2.6.js"></script>
</head>

<body>

<div id="container">
	<div id="header">
		<div id="top">
			<div id="weather">
			    <p></p>
			</div>
			<div id="date">
				<p></p>
			</div>
		</div>
		
		<div id="logo">
			<a href="http://md-ultimate.org"><h1><strong>CMUA</strong></h1></a>
		</div>
			
		<div id="navigation">
			<ul id="nav">
				<li id="events"><a href="#" class="on"><strong>Events</strong></a></li>
				<li id="leagues"><a href="/standings" class="on"><strong>Leagues</strong></a></li>
				<li id="directions"><a href="/directions" class="on"><strong>Directions</strong></a></li>
				<li id="links"><a href="#" class="on"><strong>Links</strong></a></li>
			</ul>
		</div>
		
		<div id="login">

            </div>
		</div>	

        {% block content %} {% endblock %}

	<div id="footer">
		<p>Central Maryland Ultimate Association | <a href="mailto:cmua@md-ultimate.org:">cmua@md-ultimate.org</a> | 301-490-1860</p>
	</div>

</div>
</body>
</html>
